@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

#key-table td i,
#key-table td svg {
    cursor: pointer;
}
